name: Build Flutter APK

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.0.0' # Specify the Flutter version you need

    - name: Install dependencies
      run: flutter pub get

    - name: Build APK
      run: |
        cd android
        ./gradlew clean
        ./gradlew assembleRelease
